body{
    font-family: Arial, Helvetica, sans-serif;
    background: #121212;
    color:white;
}
.quiz-container{
    width: 400px;
    margin: 60px auto;
    background-color: #1e1e1e;
    padding: 22px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba (0, 0, 0, 0, 0.6);

}
h1{
    color:#00e5ff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#question{
    font-size: 18px;
    margin-bottom: 18px;
    color:#f1f1f1;
}
.option{
    display: block;
    width: 100%;
    margin: 10px 0px;
    padding: 11px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 6px;
    border:none;
    background-color: #2c2c2c;
    color:white;
    transition: background-color 0.2s ease;
}
.option:not(:disabled):hover{
    background-color: #3a3a3a;
}
.correct{
    background-color: #2e7d32 !important;
    color:white;
}
.wrong{
    background-color: #c62828 !important;
    color:white;
}
#feedback{
    margin-top:12px;
    font-weight:bold;
    color:#ffeb3b;
}
#nextBtn{
    margin-top:18px;
    padding:9px 18px;
    font-size:14px;
    cursor:pointer;
    border-radius: 6px;
    border:none;
    background-color: #00e5ff;
    color:black;
    transition: background-color 0.2s ease;
}
#nextBtn:hover{
    background-color: #00bcd4;
}
#score{
    margin-top: 18px;
}
#score button{
    padding: 10px 18px;
    border-radius: 6px;
    border: none;
    cursor:pointer;
    background-color: #00e5ff;
    color: black;
    transition: background-color 0.2s ease;
}
#score button:hover{
    background-color: #00bcd4;
}
